.searchTableContainer {
  transition: 0.4s;
  height: auto;
  width: 100%;
  z-index: 2;
  direction: rtl;
  font-family: yekan;
}
.searchTableContainer.minWidth {
  width: calc(100% - 390px);
}
.searchTableHolder {
  overflow: auto;
}
.searchTable {
  margin-top: 10px;
}

@media only screen and (max-width: 992px) {
  .searchTableContainer.minWidth {
    width: 100%;
  }
  .searchTable {
    margin-top: -20px;
    width: 992px;
  }
}

@media only screen and (max-width: 768px) {
  .searchTableContainer.minWidth {
    width: 100%;
  }
  .searchTable {
    margin-top: -20px;
    width: 900px;
  }
}
