.paginationContainer {
  width: 100%;
  font-size: 28px;
  font-family: yekan;
  color: #4c4c4c;
  display: flex;
  justify-content: center;
}
.paginationCounters {
  width: 560px;
  margin: 0;
  padding: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  direction: rtl;
}
